@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

textarea {
  overflow: auto;
}

p,
a,
span {
  word-wrap: break-word;
  /* word-break : break-all; */
  /* overflow: hidden; */
}

input:focus {
  outline: none;
}

Button {
  outline: none;
}

input[type=button] {
  overflow: visible;
  text-transform: none;
  border-style: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=submit] {
  overflow: visible;
  text-transform: none;
  border-style: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select {
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

div.createBox {
  position: fixed;
  bottom: 10px;
  right: 8px;
  z-index: 99;
}

@media only screen and (min-width: 991px) {
  div.createBox {
    bottom: 14px;
    right: 18px;
  }
}

div.createBox p a {
  position: relative;
  display: block;
  text-decoration: none;
  background: #4aff00;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 2rem;
}

@media only screen and (min-width: 991px) {
  div.createBox p a {
    width: 70px;
    height: 70px;
    font-size: 2.7rem;
  }
}

div.createBox p a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 40px;
}

@-webkit-keyframes click-wave {
  0% {
    position: relative;
    width: 30px;
    height: 30px;
    opacity: 0.35;
  }

  100% {
    width: 200px;
    height: 200px;
    margin-top: -80px;
    margin-left: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    position: relative;
    width: 30px;
    height: 30px;
    opacity: 0.35;
  }

  100% {
    width: 200px;
    height: 200px;
    margin-top: -80px;
    margin-left: -80px;
    opacity: 0;
  }
}

header {
  background: #05ff00;
}

header div.inHeader {
  position: relative;
  height: 60px;
}

header div.inHeader div.drawer {
  position: absolute;
  display: inline-block;
  padding: 10px 12px;
  border: solid 1px #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  z-index: 97;
  background: #dedede;
  float: left;
  position: relative;
  top: 50%;
  left: 6px;
  transform: translate(0%, -50%);
}

header div.inHeader div.inTitleBox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

header div.inHeader div.inTitleBox h1 {
  width: 40%;
  height: 100%;
  padding-left: 2px;
  float: left;
}

header div.inHeader div.inTitleBox h1 a {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 8px;
  display: block;
  color: #ffffff;
  font-size: 2.4rem;
  text-decoration: none;
  width: 90%;
}

@media only screen and (min-width: 991px) {
  header div.inHeader div.inTitleBox h1 a {
    font-size: 3.2rem;
    line-height: 1;
  }
}

header div.inHeader div.inTitleBox h1 a img {
  position: absolute;
  top: 50%;
  left: 6px;
  transform: translate(0%, -50%);
  width: auto;
  height: 40px;
  box-sizing: border-box;
  vertical-align: bottom;
}

@media only screen and (min-width: 767px) {
  header div.inHeader div.inTitleBox h1 a img {
    height: 54px;
  }
}

header div.inHeader div.loginInfoBox {
  position: absolute;
  top: 50%;
  right: 3px;
  transform: translate(0%, -50%);
  float: right;
}

@media only screen and (min-width: 991px) {
  header div.inHeader div.loginInfoBox {
    right: 40px;
  }
}

header div.inHeader div.loginInfoBox > p {
  float: left;
}

header div.inHeader div.loginInfoBox > p a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media only screen and (min-width: 991px) {
  header div.inHeader div.loginInfoBox > p a {
    padding: 6px 8px 6px 8px;
  }
}

header div.inHeader div.loginInfoBox > p a:hover {
  border: 1px dotted #ffffff;
}

header div.inHeader div.loginInfoBox > p a span.greet {
  display: none;
}

@media only screen and (min-width: 991px) {
  header div.inHeader div.loginInfoBox > p a span.greet {
    display: block;
    font-size: 0.8rem;
    color: #ffffff;
    line-height: 1;
  }
}

header div.inHeader div.loginInfoBox > p a span.account {
  color: #ffffff;
  font-size: 0.9rem;
  text-align: center;
}

@media only screen and (min-width: 991px) {
  header div.inHeader div.loginInfoBox > p a span.account {
    font-size: 1rem;
    display: block;
    line-height: 1;
  }
}

div.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 96;
  display: none;
}

div.overlay div.btnCloseBox {
  position: absolute;
  left: 264px;
  top: 20px;
}

div.overlay div.btnCloseBox img {
  width: 24px;
}

nav.drwerMenuBox {
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #ffffff;
  overflow: auto;
  position: fixed;
  z-index: 99;
}

nav.drwerMenuBox div.inDrwerMenuBox h2.greet {
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  padding: 8px;
  background: #024d2d;
  white-space: nowrap;
}

nav.drwerMenuBox div.inDrwerMenuBox ul {
  margin-top: 6px;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.1rem;
  margin-bottom: 14px;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li:hover {
  color: #2bff00;
  text-decoration: underline;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li.login {
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 4px 0;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  margin-bottom: 30px;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li.login:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

nav.drwerMenuBox div.inDrwerMenuBox ul li.login a {
  display: block;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li.signup {
  text-decoration: none;
  color: #000000;
  text-align: center;
  background: #e7e9ec;
  border: solid #a2a6ac 1px;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li.signup a {
  display: block;
}

nav.drwerMenuBox div.inDrwerMenuBox ul li form input[type=submit] {
  font-size: 1rem;
}

footer {
  width: 100%;
  background: #717171;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  box-sizing: border-box;
}

footer div.inFooterBox {
  padding: 6px 8px;
}

footer div.inFooterBox p {
  text-align: center;
}

div.topImgBox {
  margin-bottom: 8px;
}

div.topImgBox div.inTopImgBox {
  background: url(/images/quickq_top2.jpg?b9eea565c3d52267dea4256b525417ff);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

div.topImgBox div.inTopImgBox img {
  width: 100%;
  max-height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 991px) {
  div.topImgBox div.inTopImgBox img {
    width: 50%;
  }
}

@media only screen and (min-width: 767px) {
  ul.questLimitBox {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
  }
}

@media only screen and (min-width: 767px) {
  ul.questLimitBox li.newListBox {
    width: 49%;
  }
}

ul.questLimitBox li.newListBox div.inNewListBox {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  border: solid #ffd1ab 6px;
  border-radius: 20px;
}

@media only screen and (min-width: 991px) {
  ul.questLimitBox li.newListBox div.inNewListBox {
    padding: 8px;
  }
}

ul.questLimitBox li.newListBox div.inNewListBox div h2 {
  display: inline-block;
  position: relative;
  background: #fca4a4;
  color: black;
  padding: 4px 8px;
  margin-top: 4px;
  margin-bottom: 14px;
  margin-left: 4px;
}

ul.questLimitBox li.newListBox div.inNewListBox div h2:before {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 9px transparent;
  border-right: solid 15px #959e9b;
}

ul.questLimitBox li.newListBox div.inNewListBox ul {
  margin: 2px 8px;
}

ul.questLimitBox li.newListBox div.inNewListBox ul li {
  border-bottom: solid 1px #d0d0d0;
  margin-bottom: 6px;
}

ul.questLimitBox li.newListBox div.inNewListBox ul li a {
  display: block;
  text-decoration: none;
  color: #0e00aa;
}

ul.questLimitBox li.newListBox div.inNewListBox ul li a:hover {
  color: #756be4;
}

ul.questLimitBox li.newListBox:nth-child(2) div.inNewListBox div h2 {
  background: #94ccff;
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 40px;
    padding-left: 40px;
    background: #e6f2f0;
  }
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li {
    float: left;
    width: 33%;
    margin-bottom: 4px;
  }
}

div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section h1 {
  background-color: #69b633;
  border-bottom: solid 1px #59ffdc;
  margin-bottom: 1px;
  padding: 10px;
  color: #FFF;
  cursor: pointer;
  position: relative;
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section h1 {
    padding-bottom: 4px;
    padding-left: 0;
    font-size: 1rem;
    background-color: rgba(105, 182, 51, 0);
    color: #000000;
    border-bottom: solid 0px;
  }
}

div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section h1:before {
  display: block;
  content: "+";
  font-weight: bold;
  position: absolute;
  right: 15px;
  transform-origin: 50% 58%;
  transition: 0.3s;
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section h1:before {
    content: "";
  }
}

div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section h1.rotate225:before {
  transform: rotate(180deg);
  color: black;
  content: "-";
}

div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section ul li {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: solid 1px #D6D6D6;
  padding: 8px 0 8px 24px;
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section ul li {
    font-size: 0.8rem;
    border-bottom: solid 0px rgba(214, 214, 214, 0);
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding: 0;
  }
}

div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section ul li a {
  color: black;
  display: block;
  padding: 2px 4px;
}

@media only screen and (min-width: 767px) {
  div.categoryBox div.inCategoryBox ul.accordion_ul li.accordion_li section ul li a {
    padding: 2px;
  }
}

div.contentsBox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 991px) {
  div.contentsBox {
    width: 60%;
  }
}

div.contentsBox div.inContentsBox h2 {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.8rem;
}

div.contentsBox div.inContentsBox hr {
  margin-bottom: 20px;
}

div.contentsBox div.inContentsBox div.msgBox {
  border: double 4px #00670d;
  margin-bottom: 14px;
}

div.contentsBox div.inContentsBox div.msgBox p {
  color: #00d930;
  font-size: 1.2rem;
  text-align: center;
  padding: 6px 4px;
}

div.contentsBox div.inContentsBox form div.inputTextBox,
div.contentsBox div.inContentsBox form div.inputEmailBox {
  margin-bottom: 20px;
}

div.contentsBox div.inContentsBox form div.inputTextBox label,
div.contentsBox div.inContentsBox form div.inputEmailBox label {
  display: block;
  margin-bottom: 4px;
}

div.contentsBox div.inContentsBox form div.inputTextBox p.typeText input[type=text],
div.contentsBox div.inContentsBox form div.inputTextBox p.typeText input[type=email],
div.contentsBox div.inContentsBox form div.inputTextBox p.emailText input[type=text],
div.contentsBox div.inContentsBox form div.inputTextBox p.emailText input[type=email],
div.contentsBox div.inContentsBox form div.inputEmailBox p.typeText input[type=text],
div.contentsBox div.inContentsBox form div.inputEmailBox p.typeText input[type=email],
div.contentsBox div.inContentsBox form div.inputEmailBox p.emailText input[type=text],
div.contentsBox div.inContentsBox form div.inputEmailBox p.emailText input[type=email] {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  letter-spacing: 1px;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

div.contentsBox div.inContentsBox form div.inputTextBox p.typeText input[type=text]:focus,
div.contentsBox div.inContentsBox form div.inputTextBox p.typeText input[type=email]:focus,
div.contentsBox div.inContentsBox form div.inputTextBox p.emailText input[type=text]:focus,
div.contentsBox div.inContentsBox form div.inputTextBox p.emailText input[type=email]:focus,
div.contentsBox div.inContentsBox form div.inputEmailBox p.typeText input[type=text]:focus,
div.contentsBox div.inContentsBox form div.inputEmailBox p.typeText input[type=email]:focus,
div.contentsBox div.inContentsBox form div.inputEmailBox p.emailText input[type=text]:focus,
div.contentsBox div.inContentsBox form div.inputEmailBox p.emailText input[type=email]:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

div.contentsBox div.inContentsBox form div.inputPasswordBox {
  margin-bottom: 20px;
}

div.contentsBox div.inContentsBox form div.inputPasswordBox label {
  display: block;
  margin-bottom: 4px;
}

div.contentsBox div.inContentsBox form div.inputPasswordBox p.typePassword input[type=password] {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  letter-spacing: 1px;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

div.contentsBox div.inContentsBox form div.inputPasswordBox p.typePassword input[type=password]:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

div.contentsBox div.inContentsBox form div.inputPasswordBox p.password_request {
  text-align: right;
}

div.contentsBox div.inContentsBox form div.inputPasswordBox p.password_request a {
  display: block;
  padding: 4px 2px;
  color: #0e00aa;
}

div.contentsBox div.inContentsBox form div.inputPasswordBox p.password_request a:hover {
  color: #756be4;
}

div.contentsBox div.inContentsBox form div.submitBox {
  margin-bottom: 14px;
}

@media only screen and (min-width: 767px) {
  div.contentsBox div.inContentsBox form div.submitBox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox input[type=submit],
div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox button[type=submit] {
  display: inline-block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 4px 0;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 0.9;
  width: 100%;
}

div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox input[type=submit]:hover,
div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox button[type=submit]:hover {
  opacity: 1;
}

div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox input[type=submit]:active,
div.contentsBox div.inContentsBox form div.submitBox p.inSubmitBox button[type=submit]:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

div.contentsBox div.inContentsBox form div.submitBox div.inputCheckBox {
  margin-top: 6px;
  margin-left: 8px;
}

div.contentsBox div.inContentsBox form div.submitBox div.inputCheckBox label {
  font-size: 1rem;
}

div.contentsBox div.inContentsBox form div.submitBox div.inputCheckBox label input[type=checkbox] {
  vertical-align: middle;
  transform: translate(0%, -25%);
}

div.contentsBox div.inContentsBox form div.errBox p {
  color: #ff002e;
  font-weight: bold;
  margin-left: 8px;
}

@media only screen and (min-width: 767px) {
  div.contentsBox div.inContentsBox div.signupBox {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

div.contentsBox div.inContentsBox div.signupBox p.inSignupBox a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 4px 0;
  background: #e7e9ec;
  border: solid #a2a6ac 1px;
  width: 100%;
  background-image: -moz-linear-gradient(top, #e7e9ec 0%, #cbcdd1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e9ec), to(#cbcdd1));
}

div.contentsBox div.inContentsBox div.signupBox p.inSignupBox a:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

div.verifyBox div.msgBox {
  border: double 4px #00670d;
  margin-top: 14px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px) {
  div.verifyBox div.msgBox {
    width: 70%;
  }
}

div.verifyBox div.msgBox p {
  color: #00d930;
  font-size: 1.2rem;
  padding: 6px 4px;
  text-align: center;
}

div.verifyBox div.inVerifyBox {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px) {
  div.verifyBox div.inVerifyBox {
    margin-top: 20px;
    padding: 20px 0;
    border: 6px solid #0dff00;
    width: 60%;
    box-sizing: border-box;
  }
}

div.verifyBox div.inVerifyBox div.verifyTextBox {
  margin-bottom: 30px;
}

div.verifyBox div.inVerifyBox div.verifyTextBox p {
  margin-top: 14px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

div.verifyBox div.inVerifyBox div.retransmissionBox {
  margin-bottom: 30px;
}

div.verifyBox div.inVerifyBox div.retransmissionBox p {
  text-align: center;
  margin-bottom: 4px;
}

div.verifyBox div.inVerifyBox div.retransmissionBox a {
  display: block;
  text-decoration: none;
  color: #000000;
  text-align: center;
  padding: 4px 0;
  background: #e7e9ec;
  border: solid #a2a6ac 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-image: -moz-linear-gradient(top, #e7e9ec 0%, #cbcdd1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e7e9ec), to(#cbcdd1));
}

@media only screen and (min-width: 767px) {
  div.verifyBox div.inVerifyBox div.retransmissionBox a {
    width: 30%;
  }
}

div.verifyBox div.inVerifyBox div.logoutRegisterBox p {
  text-align: center;
}

div.verifyBox div.inVerifyBox div.logoutRegisterBox form p input {
  text-decoration: underline;
  color: #0e00aa;
  text-align: center;
  font-size: 1rem;
}

div.verifyBox div.inVerifyBox div.logoutRegisterBox form p input:hover {
  color: #756be4;
}

div.answerBox {
  margin-top: 40px;
}

div.answerBox div.inAnswerBox {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 991px) {
  div.answerBox div.inAnswerBox {
    width: 70%;
  }
}

div.answerBox div.inAnswerBox div.errCodeAnswerQuestBox p {
  text-align: center;
  font-weight: bold;
}

div.answerBox div.inAnswerBox div.isAnswered {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.answerBox div.inAnswerBox div.chartBox {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 4px #77fbd5;
}

div.answerBox div.inAnswerBox div.chartBox div.questTitle {
  background: #f0f4e6;
  padding: 6px 8px;
  border-radius: 8px;
  margin-bottom: 14px;
}

div.answerBox div.inAnswerBox div.chartBox div.questTitle p {
  font-size: 1.1rem;
}

div.answerBox div.inAnswerBox div.chartBox div.questTitle p span {
  font-weight: bold;
}

div.answerBox div.inAnswerBox div.chartBox div.inChartBox h3 {
  text-align: center;
  font-size: 1.6rem;
}

div.answerBox div.inAnswerBox div.linkTopCase {
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.answerBox div.inAnswerBox div.linkTopCase p a {
  text-decoration: underline;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox {
  margin-bottom: 42px;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.errAnswerQuestBox p.err {
  color: #ff002e;
  font-weight: bold;
  margin-left: 8px;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.ageSelectBox {
  overflow: hidden;
  width: 25%;
  float: left;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.ageSelectBox select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 8px 38px 8px 8px;
  color: #666666;
  display: block;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.ageSelectBox select:-ms-expand {
  display: none;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.ageSelectBox:before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox {
  float: left;
  width: 37%;
  margin-left: 3%;
  margin-right: 10%;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox input {
  display: none;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox input[type=radio]:checked + .man {
  background-color: #a1b91d;
  color: #fff;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox input[type=radio]:checked + .woman {
  background-color: #e67168;
  color: #fff;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox label {
  display: block;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  padding: 10px;
  background: #bdc3c7;
  color: #4f565b;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  transition: 0.2s;
  box-sizing: border-box;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox label.man {
  border-right: 1px solid #d6dee3;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox label:first-of-type {
  border-radius: 3px 0 0 3px;
}

div.answerBox div.inAnswerBox form div.parmanentQuestBox div.sexBox label:last-of-type {
  border-radius: 0 3px 3px 0;
}

div.answerBox div.inAnswerBox form div.answerRadioBox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.answerBox div.inAnswerBox form div.answerRadioBox p {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

div.answerBox div.inAnswerBox form div.answerRadioBox div.errAnswerQuestBox p.err {
  color: #ff002e;
  font-weight: bold;
  margin-left: 8px;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox {
  background: #eef0d7;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 36px;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li {
  margin-bottom: 10px;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li input.answerRadio {
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
  color: #ffffff;
  border: none;
  outline: none;
  background: #d7cbcb;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 50%;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li input.answerRadio:after {
  border-radius: 50%;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li input.answerRadio:checked {
  background: #da3c41;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li input.answerRadio:checked:before {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  text-align: center;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li input.answerRadio:checked:after {
  position: relative;
  display: block;
  content: "";
  -webkit-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #da3c41;
}

div.answerBox div.inAnswerBox form div.answerRadioBox ul.inAnswerRadioBox li label {
  display: inline-block;
  width: 84%;
  padding: 4px 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

div.answerBox div.inAnswerBox form div.errAnswerBox {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.answerBox div.inAnswerBox form div.errAnswerBox p {
  color: #ff002e;
  font-weight: bold;
  text-align: center;
}

div.answerBox div.inAnswerBox form div.answerSubmitBox {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

div.answerBox div.inAnswerBox form div.answerSubmitBox input[type=submit] {
  display: inline-block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 4px 0;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
  width: 100%;
}

div.createQuestBox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.createQuestBox div.inCreateQuestBox div.questTitleBox {
  margin-top: 20px;
  margin-bottom: 40px;
}

div.createQuestBox div.inCreateQuestBox div.questTitleBox p {
  margin-bottom: 4px;
}

div.createQuestBox div.inCreateQuestBox div.questTitleBox textarea.questTitle {
  border: 2px solid #787878;
  border-radius: 0.67em;
  padding: 4px;
  background-color: snow;
  width: 100%;
  box-sizing: border-box;
  height: 180px;
  font-size: 1rem;
}

div.createQuestBox div.inCreateQuestBox div.questTitleBox textarea.questTitle:focus {
  border-color: #00abff;
  background-color: #ffffdf;
  outline: none;
}

div.createQuestBox div.inCreateQuestBox div.questTitleBox span.questTitleTtextLength {
  display: block;
  text-align: right;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox {
  margin-bottom: 30px;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox p {
  margin-bottom: 4px;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList {
  margin-bottom: 14px;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList li {
  margin-bottom: 14px;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList li:after {
  display: block;
  height: 4px;
  content: "";
  border-width: 0 1px 1px 1px;
  border-style: solid;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList li input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
  box-sizing: border-box;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList li input:focus {
  background-color: #ffffdf;
  outline: none;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox ul#choicesList li input:focus:focus:after {
  border-color: #00abff;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox div.addRemoveChoiceBox {
  float: right;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox div.addRemoveChoiceBox label {
  display: inline-block;
  margin-right: 4px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 46px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox div.addRemoveChoiceBox label:active {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

div.createQuestBox div.inCreateQuestBox div.choicesListBox div.addRemoveChoiceBox label input[type=button] {
  font-size: 2.2rem;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox {
  margin-bottom: 30px;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.parentInCreateCategoryBox {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
  margin-bottom: 8px;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.parentInCreateCategoryBox:before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.parentInCreateCategoryBox select.parentCategory {
  width: 100%;
  padding: 8px 38px 8px 8px;
  color: #666666;
  display: block;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.parentInCreateCategoryBox select.parentCategory:-ms-expand {
  display: none;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.childInCreateCategoryBox {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
  margin-bottom: 8px;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.childInCreateCategoryBox:before {
  position: absolute;
  top: 0.8em;
  right: 0.9em;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666666;
  pointer-events: none;
}

div.createQuestBox div.inCreateQuestBox div.createCategoryBox div.childInCreateCategoryBox select.childCategory {
  width: 100%;
  padding: 8px 38px 8px 8px;
  color: #666666;
  display: block;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  padding: 8px 38px 8px 8px;
  color: #666666;
  display: block;
}

div.createQuestBox div.inCreateQuestBox div.errCreateQuestBox {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.createQuestBox div.inCreateQuestBox div.errCreateQuestBox p.err {
  color: #ff002e;
  font-weight: bold;
  margin-left: 8px;
}

div.createQuestBox div.inCreateQuestBox div.createQuestSubmitBox {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px) {
  div.createQuestBox div.inCreateQuestBox div.createQuestSubmitBox {
    width: 40%;
  }
}

div.createQuestBox div.inCreateQuestBox div.createQuestSubmitBox input[type=submit] {
  display: inline-block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 4px 0;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
  width: 100%;
}

div.createQuestBox div.inCreateQuestBox div.createQuestSubmitBox input[type=submit]:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

div.accountInfoBox div.inAccountInfoBox div.accountBarBox {
  background: #250070;
}

div.accountInfoBox div.inAccountInfoBox div.accountBarBox p {
  font-size: 0.9rem;
  padding: 4px 8px;
  color: #ffffff;
}

div.createdQuestHistoryBox {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 991px) {
  div.createdQuestHistoryBox {
    width: 60%;
  }
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox h3 {
  margin-top: 10px;
  margin-bottom: 12px;
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9c9;
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryInfo {
  font-size: 0.8rem;
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryInfo p {
  float: left;
  padding: 2px;
  box-sizing: border-box;
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryInfo p.answerNum img.answerNumIcon {
  position: relative;
  top: 3px;
  margin-right: 4px;
  display: inline-block;
  width: 14px;
}

@media only screen and (min-width: 991px) {
  div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryTitle p {
    padding-left: 10px;
  }
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryTitle p a {
  color: #0000ee;
  display: block;
}

div.createdQuestHistoryBox div.inCreatedQuestHistoryBox ul li div.questHistoryTitle p a:hover {
  background: rgba(200, 200, 200, 0.2);
  text-decoration: underline;
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}

@media only screen and (min-width: 991px) {
  div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox {
    width: 60%;
  }
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox ul li {
  border-top: solid 1px #c8c8c8;
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px #c8c8c8;
  border-radius: 4px;
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox ul li:hover {
  background: #fdffeb;
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox ul li:last-child {
  border-bottom: solid 1px #c8c8c8;
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox ul li a {
  position: relative;
  display: block;
  padding: 8px 10px;
  color: black;
}

div.accountInfoBox div.inAccountInfoBox div.accountServiceListBox ul li a img {
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

div.theCategoryBox {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 991px) {
  div.theCategoryBox {
    width: 70%;
  }
}

div.theCategoryBox div.inTheCategoryBox p {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

div.theCategoryBox div.inTheCategoryBox h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

div.theCategoryBox div.inTheCategoryBox ul {
  padding: 0;
  position: relative;
}

div.theCategoryBox div.inTheCategoryBox ul li {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 14px;
  padding-bottom: 4px;
}

div.theCategoryBox div.inTheCategoryBox ul li a {
  display: block;
  font-size: 1.1rem;
  color: #0000ee;
}

div.theCategoryBox div.inTheCategoryBox ul li a:hover {
  text-decoration: underline;
}

div.theCategoryBox div.inTheCategoryBox ul li a:visited {
  color: #0000ee;
}

div.theCategoryBox div.inTheCategoryBox ul li div.categoryQuestData img.answerNumIcon {
  width: 18px;
  margin-right: 4px;
}

div.theCategoryBox div.inTheCategoryBox ul li div.categoryQuestData span {
  vertical-align: 4px;
}

div.paginationBox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.paginationBox div.inPaginationBox ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.paginationBox div.inPaginationBox ul.pagination li a,
div.paginationBox div.inPaginationBox ul.pagination li span {
  color: #000000;
  float: left;
  margin-right: 2px;
  padding: 4px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

@media only screen and (min-width: 991px) {
  div.paginationBox div.inPaginationBox ul.pagination li a,
  div.paginationBox div.inPaginationBox ul.pagination li span {
    padding: 8px 16px;
  }
}

div.paginationBox div.inPaginationBox ul.pagination li a.active,
div.paginationBox div.inPaginationBox ul.pagination li span.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

div.paginationBox div.inPaginationBox ul.pagination li a:hover:not(.active),
div.paginationBox div.inPaginationBox ul.pagination li span:hover:not(.active) {
  background-color: #ddd;
}

div.paginationBox div.inPaginationBox ul.pagination li a.pageEnd,
div.paginationBox div.inPaginationBox ul.pagination li span.pageEnd {
  padding: 8px 12px;
}

div.changeFormBox {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px) {
  div.changeFormBox {
    width: 60%;
  }
}

div.changeFormBox div.inChangeFormBox h2 {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.8rem;
}

div.changeFormBox div.inChangeFormBox form div.inputBox {
  margin-bottom: 20px;
}

div.changeFormBox div.inChangeFormBox form div.inputBox div.errAccountInfoChangeBox p {
  color: #ff002e;
  font-weight: bold;
  margin-left: 4px;
}

div.changeFormBox div.inChangeFormBox form div.inputBox label {
  display: block;
  margin-bottom: 4px;
}

div.changeFormBox div.inChangeFormBox form div.inputBox input[type=text] {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  letter-spacing: 1px;
  border: 1px solid #1b2538;
  border-radius: 4px;
}

div.changeFormBox div.inChangeFormBox form div.inputBox input[type=text]:focus {
  border: 1px solid #da3c41;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218, 60, 65, 0.5);
}

div.changeFormBox div.inChangeFormBox form p.submitBox {
  width: 100%;
}

@media only screen and (min-width: 991px) {
  div.changeFormBox div.inChangeFormBox form p.submitBox {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}

div.changeFormBox div.inChangeFormBox form p.submitBox input[type=submit] {
  display: inline-block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 4px 0;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 0.9;
  margin-bottom: 30px;
  width: 100%;
}

div.changeFormBox div.inChangeFormBox form p.submitBox input[type=submit]:hover {
  opacity: 1;
}

div.changeFormBox div.inChangeFormBox div.cancel {
  text-align: center;
}

div.changeFormBox div.inChangeFormBox div.userAccountInfoConfirmLink {
  text-align: center;
}

div.changeFormBox div.inChangeFormBox div.userAccountInfoConfirmLink a {
  color: #0e00aa;
}

div.changeFormBox div.inChangeFormBox div.userAccountInfoConfirmLink a:hover {
  color: #756be4;
}

div.accountConfirmBox {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 767px) {
  div.accountConfirmBox {
    width: 60%;
  }
}

div.accountConfirmBox div.inAccountConfirmBox h2 {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.8rem;
}

div.accountConfirmBox div.inAccountConfirmBox div.accountInfoChangeMsgBox {
  border: double 4px #00670d;
  margin-bottom: 14px;
}

div.accountConfirmBox div.inAccountConfirmBox div.accountInfoChangeMsgBox p {
  color: #00d930;
  font-size: 1.2rem;
  text-align: center;
  padding: 6px 0px;
}

div.accountConfirmBox div.inAccountConfirmBox div.userAccountInfoChangeLink p a {
  display: block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 6px 10px;
  border-bottom: solid 2px #adadad;
  background: linear-gradient(#dcdddb 0%, #cbcbcb 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

div.accountConfirmBox div.inAccountConfirmBox ul {
  margin-bottom: 20px;
}

div.accountConfirmBox div.inAccountConfirmBox ul li {
  border-top: solid 2px #e7e7e7;
  border-left: solid 2px #e7e7e7;
  border-right: solid 2px #e7e7e7;
  padding: 6px 8px;
}

@media only screen and (min-width: 767px) {
  div.accountConfirmBox div.inAccountConfirmBox ul li {
    padding: 12px 20px;
  }
}

div.accountConfirmBox div.inAccountConfirmBox ul li:first-child {
  border-radius: 4px 4px 0 0;
}

div.accountConfirmBox div.inAccountConfirmBox ul li:last-child {
  border-bottom: solid 2px #e7e7e7;
  border-radius: 0 0 4px 4px;
}

div.accountConfirmBox div.inAccountConfirmBox ul li span {
  font-weight: bold;
}

div.accountConfirmBox div.inAccountConfirmBox div.userAccountLink p a {
  display: inline-block;
  border-radius: 5%;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 6px 10px;
  border-bottom: solid 2px #d27d00;
  background: linear-gradient(#b7ff49 0%, #68ec00 100%);
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #000000;
  opacity: 1;
  margin-bottom: 30px;
  margin-left: 10px;
}

div.questAnalysisBox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 991px) {
  div.questAnalysisBox {
    width: 80%;
  }
}

div.questAnalysisBox div.inQuestAnalysisBox div.errQuestAnalysisBox {
  margin-top: 20px;
}

div.questAnalysisBox div.inQuestAnalysisBox div.errQuestAnalysisBox p.err {
  text-align: center;
  font-weight: bold;
}

div.questAnalysisBox div.inQuestAnalysisBox div.questTitle {
  background: #f0f4e6;
  padding: 6px 8px;
  border-radius: 8px;
  margin-top: 14px;
  margin-bottom: 14px;
}

div.questAnalysisBox div.inQuestAnalysisBox div.questTitle p {
  font-size: 1.1rem;
}

div.questAnalysisBox div.inQuestAnalysisBox div.questTitle p span {
  font-weight: bold;
}

div.questAnalysisBox div.inQuestAnalysisBox div.chartBox {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 4px #77fbd5;
}

div.questAnalysisBox div.inQuestAnalysisBox div.chartBox div.inChartBox h3 {
  text-align: center;
  font-size: 1.6rem;
}

