div.theCategoryBox{
  width:90%;
  margin-right: auto;
  margin-left:auto;
  div.inTheCategoryBox{
    p{

    }
    h2{

    }
    ul{
      padding:0;
      position:relative;
      li{
        border-bottom:1px solid #d9d9d9;
        a{
          display:block;
          font-size:1.1rem;
          color:#0000ee;
          &:hover{
            text-decoration:underline;
          }
          &:visited{
            color:#0000ee;
          }
        }
        div.categoryQuestData{
          img{
            &.answerNumIcon{
              width:18px;
              margin-right: 4px;
            }
          }
          span{
            vertical-align: 4px;
          }
        }
      }
    }
  }
}

div.paginationBox{
  display: flex;
  justify-content:center;
  align-items: center;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  div.inPaginationBox{
    ul.pagination{
      li{
        a{
          color: #000000;
          float: left;
          margin-right:2px;
          padding: 8px 16px;
          text-decoration: none;
          transition: background-color .3s;
          border: 1px solid #ddd;
          box-sizing:border-box;
          &.active{
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
          }
          &:hover{
            &:not(.active){
              background-color: #ddd;
            }
          }
          &.pageEnd{
            padding: 8px 12px;
          }
        }
      }
    }
  }
}
