div.theCategoryBox{
  width:90%;
  margin-right: auto;
  margin-left:auto;
  @include media(l){
    width:70%;
  }
  div.inTheCategoryBox{
    p{
      margin-top:20px;
      text-align: center;
      font-weight: bold;
    }
    h2{
      margin-top:20px;
      margin-bottom:10px;
    }
    ul{
      padding:0;
      position:relative;
      li{
        border-bottom:1px solid #d9d9d9;
        margin-bottom:14px;
        padding-bottom:4px;
        a{
          display:block;
          font-size:1.1rem;
          color:#0000ee;
          &:hover{
            text-decoration:underline;
          }
          &:visited{
            color:#0000ee;
          }
        }
        div.categoryQuestData{
          img{
            &.answerNumIcon{
              width:18px;
              margin-right: 4px;
            }
          }
          span{
            vertical-align: 4px;
          }
        }
      }
    }
  }
}

div.paginationBox{
  width:90%;
  margin-left:auto;
  margin-right:auto;
  div.inPaginationBox{
    ul.pagination{
      display: flex;
      justify-content:center;
      align-items: center;
      li{
        a,span{
          color: #000000;
          float: left;
          margin-right:2px;
          padding: 4px 8px;
          text-decoration: none;
          transition: background-color .3s;
          border: 1px solid #ddd;
          box-sizing:border-box;
          @include media(l){
            padding: 8px 16px;
          }
          &.active{
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
          }
          &:hover{
            &:not(.active){
              background-color: #ddd;
            }
          }
          &.pageEnd{
            padding: 8px 12px;
          }
        }
      }
    }
  }
}
