div.topImgBox{
  margin-bottom:8px;
  div.inTopImgBox{
    background: url("../image/quickq_top2.jpg");
    width:100%;
    height:500px;
    background-size: cover;
    background-position: center center;
    position: relative;
    img{
      width:100%;
      max-height:500px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      @include media(l){
        width:50%;
      }
    }
  }
}
ul.questLimitBox{
    @include media(m) {
        display: flex;
        justify-content: center;
        margin-bottom:4px;
      }
  li.newListBox{
    @include media(m) {
        width:49%;
      }
    div.inNewListBox{
      margin-left: 4px;
      margin-right: 4px;
      margin-bottom:10px;
      border:solid rgb(255, 209, 171) 6px;
      border-radius: 20px;
      @include media(l){
        padding:8px;
      }
      div{
        h2{
          display:inline-block;
          position: relative;
          background: rgb(252, 164, 164);
          color: black;
          padding:4px 8px;
          margin-top:4px;
          margin-bottom:14px;
          margin-left:4px;
          &:before{
            position: absolute;
            content: '';
            top: 100%;
            left: 0;
            border: none;
            border-bottom: solid 9px transparent;
            border-right: solid 15px rgb(149, 158, 155);
          }
        }
      }
      ul{
        margin:2px 8px;
        li{
          border-bottom:solid 1px #d0d0d0;
          margin-bottom:6px;
          a{
            display: block;
            text-decoration: none;
            color:#0e00aa;
            &:hover{
              color:#756be4;
            }
          }
        }
      }
    }
    &:nth-child(2){
      div.inNewListBox{
        div{
          h2{
            background: rgb(148, 204, 255);
          }
        }
      }
    }
  }
}


div.categoryBox{
  div.inCategoryBox{
    @include media(m){
      padding-top:14px;
      padding-bottom:14px;
      padding-right:40px;
      padding-left:40px;
      background: #e6f2f0;
    }
    ul.accordion_ul{
      li.accordion_li{
        @include media(m){
          float: left;
          width:33%;
          margin-bottom:4px;
        }
        section{
          h1{
            background-color: #69b633;
            border-bottom: solid 1px #59ffdc;
            margin-bottom: 1px;
            padding: 10px;
            color: #FFF;
            cursor: pointer;
            position: relative;
            @include media(m) {
                padding-bottom:4px;
                padding-left:0;
                font-size:1rem;
                background-color: rgba(105, 182, 51, 0);
                color:#000000;
                border-bottom: solid 0px;
              }
            &:before{
              display: block;
              content: "+";
              font-weight: bold;
              position: absolute;
              right: 15px;
              transform-origin: 50% 58%;
              transition:0.3s;
              @include media(m) {
                  content:""
                }
            }
            &.rotate225:before{
              transform: rotate(180deg);
              color:black;
              content: "-";
            }
          }
          ul{
            li{
              background-color: rgba(255, 255, 255, 0);
              border-bottom: solid 1px #D6D6D6;
              padding: 8px 0 8px 24px;
              @include media(m) {
                  font-size: 0.8rem;
                  border-bottom: solid 0px rgba(214, 214, 214, 0);
                  box-sizing: border-box;
                  width:33%;
                  float:left;
                  padding:0;
                }
              a{
                color:black;
                display: block;
                padding:2px 4px;
                @include media(m) {
                    padding:2px;
                  }
              }
            }
          }
        }
      }
    }
  }
}
