div.topImgBox{
  div.inTopImgBox{
    // width:100%;
    // height:680px;
    // background-size: cover;
    // background-position: center center;
    position: relative;
    // @include media(m){
    //   height:100vh;
    // }
    width:100%;
    height:100%;
    img{
      width: 100%;
      height: 740px;
      object-fit: cover;
      vertical-align:top;
      // max-height:500px;
      // position: absolute;
      // top:50%;
      // left:50%;
      // transform: translate(-50%,-50%);
      // @include media(l){
      //   width:50%;
      // }
    }
    div.contentsInTopImgBox{
      position:absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      width:100%;
      height:100%;
      @include media(l){
        width:92%;
        margin-left: auto;
        margin-right: auto;
      }
      div.inContentsInTopImgBox{
        width:100%;
        position:absolute;
        top:8%;
        @include media(l){
          display:flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          top:40%;
          width:100%;
          transform: translate(0,-50%);
        }
        &:after{
          @include clear;
        }
        div.catchCopyInTopImgBox{
          width:90%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom:40px;
          @include media(l){
            margin-bottom:0px;
            height:100%;
            width:70%;
          }
          div.inCatchCopyInTopImgBox{
            h1{
              color:#fff;
              text-shadow:0 0 14px rgb(78, 78, 78);
              font-size:1.8rem;
              @include media(m){
                font-size:3.2rem;
              }
              @include media(xl){
                font-size:3.6rem;
              }
            }
            p{
              color:#fff;
              text-shadow:0 0 4px rgb(78, 78, 78);
              font-size:1.1rem;
              @include media(m){
                font-size:1.2rem;
              }
              @include media(xl){
                font-size:1.3rem;
              }
            }
          }
        }
        div.signUpBoxInTopImgBox{
          width:90%;
          margin-left: auto;
          margin-right: auto;
          @include media(l){
            // float:right;
            width:30%;
          }
          div.inSignUpBoxInTopImgBox{
            background:rgba(255, 255, 255, 0.6);
            border-radius: 8px;
            padding:20px 30px;
            @include media(l){
              font-size:1.3rem;
              padding:30px 40px;

            }
            p{
              font-size:1rem;
              color:#f21b1b;
              margin-bottom:10px;
              text-align: center;
            }
            form{
              div.inputTextBox{
                margin-bottom:30px;
                p{
                  &.typeText{
                    input{
                      font-size:1rem;
                      box-sizing: border-box;
                      padding: 5px;
                      width:100%;
                      letter-spacing: 1px;
                      border: 1px solid #1b2538;
                      border-radius: 4px;
                      &:focus{
                        border: 1px solid #da3c41;
                        outline: none;
                        box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
                      }
                    }
                  }
                }
              }
              div.inputPasswordBox{
                margin-bottom:30px;
                p.typePassword{
                  input{
                    font-size:1rem;
                    box-sizing: border-box;
                    padding: 5px;
                    width:100%;
                    letter-spacing: 1px;
                    border: 1px solid #1b2538;
                    border-radius: 4px;
                    &:focus{
                      border: 1px solid #da3c41;
                      outline: none;
                      box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
                    }
                  }
                }
              }
              div.submitBox{
                p.inSubmitBox{
                  input{
                    display : inline-block;
                    border-radius : 5%;
                    font-size : 1rem;
                    text-align: center;
                    cursor : pointer;
                    padding:4px 0;
                    border-bottom: solid 2px #d27d00;
                    background: linear-gradient(#b7ff49 0%, #68ec00 100%);
                    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
                    color : #000000;
                    opacity : 0.9;
                    width:100%;
                    &:hover{
                      opacity: 1;
                    }
                    &:active{
                      box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

div.promotionBox{
  background: rgba(255, 255, 255, 0.95);
  padding-top:120px;
  padding-bottom:60px;
  div.inPromotionBox{
    div.simpleFlowBox{
      div.inSimpleFlowBox{
        display:flex;
        flex-wrap: nowrap;
        justify-content:space-around;
        align-items: center;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        div.iconBox{
          width:33%;
          div.inIconBox{
            color:#f46969;
            i{
              display:block;
              font-size:7.5rem;
              text-align: center;
            }
            div.subTextBox{
              margin-top:14px;
              p{
                text-align: center;
                font-size:2rem;
                span{
                  border-bottom:1px solid #f46969;
                }
              }
            }
          }
        }
      }
    }
    div.inductionBox{
      margin-top:40px;
      div.inInductionBox{
        display:flex;
        flex-wrap: nowrap;
        justify-content:space-around;
        align-items: center;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        div.howToUseLinkBox{
          width:45%;
          background: linear-gradient(#e76969 0%, #f1450e 100%);
          padding:14px 4px;
          border-radius: 8px;
          position: relative;
          div.inHowToUseLinkBox{
            p{
              a{
                display: block;
                text-align: center;
                font-size:1.4rem;
                color:#fff;
              }
            }
          }
          i{
            position:absolute;
            top:50%;
            right:5%;
            transform: translate(0,-50%);
            font-size:1.3rem;
            color:#fff;
          }
        }
        div.signUpLinkBox{
          width:45%;
          background: linear-gradient(#92be83 0%,  #6c9f58 100%);
          padding:14px 4px;
          border-radius: 8px;
          position:relative;
          div.inSignUpLinkBox{
            p{
              a{
                display: block;
                text-align: center;
                font-size:1.4rem;
                color:#fff;
              }
            }
          }
          i{
            position:absolute;
            top:50%;
            right:5%;
            transform: translate(0,-50%);
            font-size:1.3rem;
            color:#fff;
          }
        }
      }
    }
  }
}

ul.questLimitBox{
  background: #e8eee7;
    @include media(m) {
        display: flex;
        justify-content: center;
        padding-bottom:4px;
      }
      &:after{
        @include clear;
      }
  li{
    &.newListBox{
      margin-top: 30px;
      margin-bottom: 50px;
      @include media(m) {
          width:49%;
        }
      div.inNewListBox{
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom:10px;
        border:solid rgb(255, 209, 171) 6px;
        background:#fff;
        border-radius: 20px;
        @include media(l){
          padding:8px;
        }
        div{
          h2{
            display:inline-block;
            position: relative;
            background: rgb(252, 164, 164);
            color: black;
            padding:4px 8px;
            margin-top:4px;
            margin-bottom:14px;
            margin-left:4px;
            &:before{
              position: absolute;
              content: '';
              top: 100%;
              left: 0;
              border: none;
              border-bottom: solid 9px transparent;
              border-right: solid 15px rgb(252, 164, 164);
            }
          }
        }
        ul{
          margin:2px 8px;
          li{
            border-bottom:solid 1px #d0d0d0;
            margin-bottom:6px;
            a{
              display: block;
              text-decoration: none;
              color:#0e00aa;
              &:hover{
                color:#756be4;
              }
            }
          }
        }
      }
      &:nth-child(2){
        div.inNewListBox{
          div{
            h2{
              background: rgb(148, 204, 255);
            }
          }
        }
      }
    }
    &.popularListBox{
      margin-top: 30px;
      margin-bottom: 50px;
      @include media(m) {
          width:49%;
        }
      div.inPpopularListBox{
        background: #fff;
        margin-left: 4px;
        margin-right: 4px;
        margin-bottom:10px;
        border:solid rgb(255, 209, 171) 6px;
        border-radius: 20px;
        @include media(l){
          padding:8px;
        }
        div{
          h2{
            display:inline-block;
            position: relative;
            background: rgb(179, 164, 252);
            color: black;
            padding:4px 8px;
            margin-top:4px;
            margin-bottom:14px;
            margin-left:4px;
            &:before{
              position: absolute;
              content: '';
              top: 100%;
              left: 0;
              border: none;
              border-bottom: solid 9px transparent;
              border-right: solid 15px rgb(174, 164, 252);
            }
          }
        }
        ul{
          margin:2px 8px;
          li{
            border-bottom:solid 1px #d0d0d0;
            margin-bottom:6px;
            a{
              display: block;
              text-decoration: none;
              color:#0e00aa;
              &:hover{
                color:#756be4;
              }
            }
          }
        }
      }
      &:nth-child(2){
        div.inNewListBox{
          div{
            h2{
              background: rgb(148, 204, 255);
            }
          }
        }
      }
    }
  }
}


div.categoryBox{
  div.inCategoryBox{
    @include media(m){
      padding-top:14px;
      padding-bottom:14px;
      padding-right:40px;
      padding-left:40px;
      background: #e6f2f0;
    }
    ul.accordion_ul{
      li.accordion_li{
        @include media(m){
          float: left;
          width:33%;
          padding-bottom:4px;
        }
        section{
          h1{
            background-color: #69b633;
            border-bottom: solid 1px #59ffdc;
            // margin-bottom: 1px;
            padding: 10px;
            color: #FFF;
            cursor: pointer;
            position: relative;
            @include media(m) {
                padding-bottom:4px;
                padding-left:0;
                font-size:1rem;
                background-color: rgba(105, 182, 51, 0);
                color:#000000;
                border-bottom: solid 0px;
              }
            &:before{
              display: block;
              content: "+";
              font-weight: bold;
              position: absolute;
              right: 15px;
              transform-origin: 50% 58%;
              transition:0.3s;
              @include media(m) {
                  content:""
                }
            }
            &.rotate225:before{
              transform: rotate(180deg);
              color:black;
              content: "-";
            }
          }
          ul{
            li{
              background-color: rgba(255, 255, 255, 0);
              border-bottom: solid 1px #D6D6D6;
              padding: 8px 0 8px 24px;
              @include media(m) {
                  font-size: 0.8rem;
                  border-bottom: solid 0px rgba(214, 214, 214, 0);
                  box-sizing: border-box;
                  width:33%;
                  float:left;
                  padding:0;
                }
              a{
                color:black;
                display: block;
                padding:2px 4px;
                @include media(m) {
                    padding:2px;
                  }
              }
            }
          }
        }
      }
    }
  }
}
