footer{
  width:100%;
  background: #717171;
  position: absolute;/*←絶対位置*/
  top: 100%;
  box-sizing: border-box;
  div.inFooterBox{
      padding:6px 8px;
    p{
      text-align: center;
    }
  }
}
