div.answerBox{
  margin-top:30px;
  div.inAnswerBox{
    width:96%;
    margin-left: auto;
    margin-right: auto;
    @include media(l){
      width:80%;
    }
    div.isAnswered{
      width:90%;
      margin-left: auto;
      margin-right: auto;
      p{

      }
    }
    div.chartBox{
      width:90%;
      margin-left:auto;
      margin-right:auto;
      padding-top:20px;
      padding-bottom:20px;
      border-bottom:solid 4px #77fbd5;
      div.questTitle{
        background: #f0f4e6;
        padding:6px 8px;
        border-radius: 8px;
        margin-bottom: 14px;
        p{
          font-size: 1.1rem;
          span{
            font-weight: bold;
          }
        }
      }
      div.inChartBox{
        h3{
          text-align:center;
          font-size:1.6rem;
        }
      }
    }
    div.linkTopCase{
      margin-top:20px;
      width:80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      p{
        a{
          text-decoration:underline;
        }
      }
    }
    form{
      input{

      }
      div.parmanentQuestBox{
        margin-bottom: 50px;
        p{
          width:80%;
          margin-left:auto;
          margin-right:auto;
          margin-bottom:4px;
        }
        div.ageSelectBox{
          overflow: hidden;
          width:30%;
          float:left;
          margin-left:10%;
          margin-right: 0%;
          text-align: center;
          box-sizing: border-box;
          position: relative;
          border: 1px solid #bbbbbb;
          border-radius: 2px;
          background: #ffffff;
          select{
            width: 100%;
            padding-right: 1em;
            cursor: pointer;
            text-indent: 0.01px;
            text-overflow: ellipsis;
            border: none;
            outline: none;
            background: transparent;
            background-image: none;
            box-shadow: none;
            -webkit-appearance: none;
            appearance: none;
            padding: 8px 38px 8px 8px;
            color: #666666;
            display: block;
            &:-ms-expand{
              display: none;
            }
            option{

            }
          }
          &:before{
            position: absolute;
            top: 0.8em;
            right: 0.9em;
            width: 0;
            height: 0;
            padding: 0;
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #666666;
            pointer-events: none;
          }
        }
        div.sexBox{
          float:left;
          width:47%;
          margin-left: 3%;
          margin-right: 10%;
          input{
	           display: none;
             &[type="radio"]:checked{
               & + .man{
                 background-color: #a1b91d;
                 color: #fff;
               }
               & + .woman{
                 background-color: #e67168;
                 color: #fff;
               }
             }
          }
          label{
            display: block;
          	float: left;
          	cursor: pointer;
            box-sizing: border-box;
          	width: 50%;
          	margin: 0;
          	padding: 10px;
          	background: #bdc3c7;
          	color: #4f565b;
          	font-size: 16px;
          	text-align: center;
          	line-height: 1;
          	transition: .2s;
            &:first-of-type{
              border-radius: 3px 0 0 3px;
            }
            &:last-of-type{
              border-radius: 0 3px 3px 0;
            }
          }
        }
      }

      div.answerRadioBox{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        p{
          width:100%;
          margin-left:auto;
          margin-right:auto;
          margin-bottom:4px;
        }
        ul.inAnswerRadioBox{
          background:#eef0d7;
          padding:10px 20px;
          border-radius: 8px;
          margin-bottom:36px;
          li{
            margin-bottom:10px;
            input.answerRadio{
              position: relative;
            	top: 10px;
            	right: 0;
            	bottom: 0;
            	left: 0;
            	width: 30px;
            	height: 30px;
            	margin-right: 0.5rem;
            	cursor: pointer;
            	transition: all 0.15s ease-out 0s;
            	color: #ffffff;
            	border: none;
            	outline: none;
            	background: #d7cbcb;
            	-webkit-appearance: none;
            	        appearance: none;
              border-radius: 50%;
              &:after{
                border-radius: 50%;
              }
              &:hover{
                background: #d6a9a9;
              }
              &:checked{
                background: #da3c41;
                &:before{
                  font-size: 20px;
                  line-height: 30px;
                  position: absolute;
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  content: '';
                  text-align: center;
                }
                &:after{
                  position: relative;
                  display: block;
                  content: '';
                  -webkit-animation: click-wave 0.65s;
                          animation: click-wave 0.65s;
                  background: #da3c41;
                }
              }
            }
            label{
              display: inline-block;
              width:80%;
              padding:4px 10px;
              border-radius: 4px;
              box-sizing: border-box;
              &:hover{
                background: #d6a9a9;
              }
            }
          }
        }
      }
      div.errAnswerBox{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        p{
          color:#ff002e;
          font-weight: bold;
          text-align: center;
        }
      }
      div.answerSubmitBox{
        width:50%;
        margin-left: auto;
        margin-right: auto;
        input[type="submit"]{
          display : inline-block;
          border-radius : 5%;
          font-size : 1rem;
          text-align: center;
          cursor : pointer;
          padding:4px 0;
          border-bottom: solid 2px #d27d00;
          background: linear-gradient(#b7ff49 0%, #68ec00 100%);
          box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
          color : #000000;
          opacity : 1;
          margin-bottom: 30px;
          width:100%;
        }
      }
    }
  }
}
