div.changeFormBox{
  width:94%;
  margin-left: auto;
  margin-right: auto;
  @include media(m){
    width:60%;
  }
  div.inChangeFormBox{
    h2{
      text-align: center;
      padding:20px 0px;
      font-size:1.8rem
    }
    form{
      div.inputBox{
        margin-bottom:20px;
        label{
          display:block;
          margin-bottom:4px;
        }
        input[type="text"]{
          font-size:1rem;
          box-sizing: border-box;
          padding: 5px;
          width:100%;
          letter-spacing: 1px;
          border: 1px solid #1b2538;
          border-radius: 4px;
          &:focus{
            border: 1px solid #da3c41;
            outline: none;
            box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
          }
        }
      }
      p{
        width:100%;
        @include media(l){
          width:40%;
          margin-left:auto;
          margin-right:auto;
        }
        input[type="submit"]{
          display : inline-block;
          border-radius : 5%;
          font-size : 1rem;
          text-align: center;
          cursor : pointer;
          padding:4px 0;
          border-bottom: solid 2px #d27d00;
          background: linear-gradient(#b7ff49 0%, #68ec00 100%);
          box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
          color : #000000;
          opacity : 0.9;
          margin-bottom: 30px;
          width:100%;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
    div.cancel{
      text-align: center;
      a{

      }
    }
  }
}
