div.verifyBox{
  div.msgBox{
    border:double 4px #00670d;
    margin-top:14px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    @include media(m){
      width:70%;
    }
    p{
      color:#00d930;
      font-size:1.2rem;
      padding:6px 4px;
      text-align: center;
    }
  }
  div.inVerifyBox{
    width:98%;
    margin-left: auto;
    margin-right: auto;
    @include media(m){
      margin-top:20px;
      padding: 20px 0;
      border:6px solid #0dff00;
      width:60%;
      box-sizing: border-box;
    }
    div.verifyTextBox{
      margin-bottom:30px;
      p{
        margin-top:14px;
        font-size:1.1rem;
        font-weight: bold;
        text-align: center;
      }
    }
    div.retransmissionBox{
      margin-bottom:30px;
      p{
        text-align: center;
        margin-bottom:4px;
      }
      a{
        display: block;
        text-decoration: none;
        color:#000000;
        text-align: center;
        padding:4px 0;
        background: #e7e9ec;
        border:solid #a2a6ac 1px;
        width:90%;
        margin-left: auto;
        margin-right: auto;
        background-image:-moz-linear-gradient(top,#e7e9ec 0%,#cbcdd1);
        background-image:-webkit-gradient(
        linear,left top,left bottom,
        from(#e7e9ec),
        to( #cbcdd1));
        @include media(m){
          width:30%;
        }
      }
    }

    div.logoutRegisterBox{
      p{
        text-align: center;
      }
      form{
        p{
          input{
            text-decoration: underline;
            color:$linkColor;
            text-align: center;
            font-size:1rem;
            &:hover{
              color:$linkHoverColor;
            }
          }
        }
      }
    }
  }
}
